.idea
logs
Debug
*.log
Temp
Packages
*Cache*
linux
.vs
.meta
Library
*.csv
evaluation/AllLengthsPhase1.png
evaluation/AllGainsPhase1.png
evaluation/TotalGain.png
evaluation/MovementTime.png
evaluation/DistancePerBodyPart.png
evaluation/EffortPerBodyPart.png
*.png
